<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="devcat.catboard.permission.CLEAN_TRANSCRIPT"
        android:protectionLevel="signature" />

    <application android:label="CatBoard Cleaner" android:allowBackup="false">
        <service
            android:name=".TranscriptCleanerService"
            android:exported="true"
            android:permission="devcat.catboard.permission.CLEAN_TRANSCRIPT" />
    </application>
</manifest>
